<html lang="en">
<head>
	<meta charset="UTF-8">
		
		<title>Scrape Articels</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script id="entry-template" type="text/x-handlebars-template"></script>
		
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
