<html lang="en">
<head>
	<meta charset="UTF-8">
		
		<title>Scrape Articels</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script id="entry-template" type="text/x-handlebars-template"></script>
		
	</head>
	<body>
		<h1>KTAR article scrape</h1> 
		<h2>click scrape articles link to scrape articles</h2> 
		<h2>then click view articles to see results</h2>
		<h2> click on an article to leave a note</h2>
		<a href="/scrape">scrape articles</a> </br>

		<a href="/">view articles</a> 
		{{{ body }}}
	</body>
</html>
