
<html>
  </head>
  <body>
    <div id="wrapper">
      <h1>Note Scraper</h1>
      <h2><i>May the force be with you.</i></h2>
      <a href="/scrape"> scrape articles</a>
      <a href="/articles"> show articles</a>
      <div id="articles"></div>
      <div id="notes"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>    