

<h1>Scraped articles</h1>


    <h1>it's almost working</h1>

<ul>
  {{#each Article}}
    <li>
      <p>
        {{this.title}}. {{Article.link}}
      
      </p>
    </li>
  {{/each}}
</ul>

    
  



